<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        //localStorage.clear()
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <title>Chaves</title>
</head>
<body>
    <div id="dashboard">
    </div>
    <div id="form">
        <aside>
            <form id="newChaveForm">
                <input type="text" placeholder="Nome" id="nomeForm">
                <input type="text" placeholder="Quantidade" id="quantidadeForm">
                <button type="submit" id="confirmarButton">Confirmar</button>
                <button type="submit" id="deletarButton">Deletar chave selecionada</button>
                <button type="submit" id="atualizarButton">Atualizar</button>
                <button type="submit" id="clearButton">Clear</button>
            </form>
        </aside>
    </div>
    <script src="../script/main.js"></script>
</body>
</html>